@import "../../styles/tokens.scss";

.ts-button {
  $self: &;
  font-family: $font-family-01, sans-serif !important;
  font-size: $font-size-xxs !important;
  line-height: $line-height-default !important;

  &__button--primary {
    color: $brand-color-blue-02;
    background-color: $brand-color-pink-01;
    border: none;
    width: 120px;
    height: 40px;

    &:hover {
      color: $neutral-elements-01;
      background-color: $brand-color-02;
      cursor: pointer;
    }
  }

  &__button--secondary {
    color: $brand-color-blue-02;
    background-color: $brand-color-blue-pure;
    border: none;
    width: 120px;
    height: 40px;

    &:hover {
      color: $neutral-elements-01;
      background-color: $brand-color-blue-02;
      cursor: pointer;
    }
  }

  &:disabled {
    background-color: $neutral-elements-03;
    color: $neutral-elements-01;
    cursor: none;
    pointer-events: none;
  }

  &__button--flat {
    border-radius: $border-radius-none;
  }
  
  &__button--rounded {
    border-radius: $border-radius-sm;
  }
}
